$mq-small: only screen and (max-width: 35.624em);
$mq-medium: only screen and (min-width: 35.625em);
$mq-large: only screen and (min-width : 48.063em);
$mq-xlarge: only screen and (min-width : 64.063em);
$mq-larger-than-phone: only screen and (min-width: 428px);
$mq-high-res: only screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-device-pixel-ratio: 2),screen and (min-resolution: 192dpi),screen and (min-resolution: 2dppx);
$mq-single-column-record-layout: (max-width: 599px);
$mq-portrait-refactor-this: only screen and (orientation: portrait);
$mq-landscape-refactor-this: only screen and (orientation: landscape);
$mq-tablet-landscape-refactor-this: only screen and (min-width: 960px);
$mq-tablet-portrait-refactor-this: only screen and (min-width: 760px) and (max-width: 959px);
$mq-tablet-refactor-this: only screen and (min-width: 769px);
$mq-tablet-fixed: only screen and (min-width: 768px);
$mq-dashboard-loader-refactor-this-1: only screen and (min-width : 321px);
$mq-dashboard-loader-refactor-this-2: only screen and (max-width : 320px);
$mq-dashboard-loader-refactor-this-3: only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape);
$mq-dashboard-loader-refactor-this-4: only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait);
$mq-self-service-phone: only screen and (max-width: 480px);
$mq-self-service-tablet: only screen and (max-width: 800px);
$mq-self-service-tablet-portrait: only screen and (max-width: 800px) and (min-width: 480px) and (orientation: portrait);
$mq-self-service-wtf: only screen and (max-width: 520px);
