$duration-slide: 0.25s;
$width-stage-left: 88%;
$width-stage-left-tablet: 250px;
$height-header: 42px;
$height-footer: 44px;
$max-height-card-media: 144px;
$color-brand: #2A94D6;
$color-text-link: #006EB3;
$color-text-link-hover: #006EB3;
$color-text-link-active: #006EB3;
$color-text-link-hover: #006EB3;
$color-text-link-disabled: #657889;
$color-error: #B5362D;
$color-text-error: #B5362D;
$color-warning: #E6B739;
$color-customer: #FF9F05;
$color-border-selection: #006EB3;
$color-border-selection-hover: #2A94D6;
$color-border-selection-active: #F0F1F2;
$color-text-default: #3C3D3E;
$color-text-weak: #696E71;
$color-text-hint: #9FAAB5;
$color-text-alt: #485C70;
$color-text-inverse: #FFFFFF;
$color-text-inverse-hover: #9FAAB5;
$color-text-inverse-active: #5EBFFC;
$color-text-selection-hover: #2A94D6;
$color-text-placeholder: #8595A6;
$color-text-placeholder-inverse: #DADEE2;
$color-text-label: #657889;
$color-text-heading-weak: #006EB3;
$color-text-input-focus-inverse: #2A4158;
$font-family-strong-deprecated: 'ProximaNovaSoft-Semibold';
$font-family-strong: 'ProximaNovaSoft-Semibold';
$font-family-heading-deprecated: 'ProximaNovaSoft-Semibold';
$font-family-body: 'ProximaNovaSoft-Regular';
$font-size-xx-large: 22px;
$font-size-x-large: 18px;
$font-size-large: 16px;
$font-size-medium: 15px;
$font-size-small: 14px;
$font-size-x-small: 13px;
$font-size-xx-small: 10px;
$color-background: #F0F1F2;
$color-background-shade: #E4ECF4;
$color-background-alt: #FFFFFF;
$color-background-active-inverse: #F0F1F2;
$color-background-inverse: #34495E;
$color-background-alt-inverse: #2A4158;
$color-background-alt-inverse-deprecated: #34495E;
$color-background-input-deprecated: #DADEE2;
$color-background-error-alt: #D68184;
$color-background-input: #FFFFFF;
$color-background-input-disabled: #DADEE2;
$color-background-input-active: #FFFFFF;
$color-background-input-error: #F6E4E4;
$color-background-input-search: rgba(0,0,0,.16);
$color-background-anchor: #34495E;
$color-background-button-inverse: rgba(0,0,0,.16);
$color-background-button-inverse-active: rgba(0,0,0,.24);
$color-background-modal: #FFFFFF;
$color-text-modal: #696E71;
$color-background-modal-button: rgba(0,0,0,.07);
$color-background-modal-button-active: rgba(0,0,0,.16);
$color-text-modal-button: #696E71;
$color-background-browser: #657889;
$color-background-button-brand: #2A94D6;
$color-background-button-brand-hover: #137CBD;
$color-background-button-brand-active: #137CBD;
$color-text-browser: #FFFFFF;
$color-background-browser-active: #F0F1F2;
$color-border-brand: #137CBD;
$color-border-button-browser: #DADEE2;
$color-border: #F0F1F2;
$color-border-hint: #3C3D3E;
$border-radius-large: 8px;
$border-radius-medium: 5px;
$border-radius-small: 3px;
$color-border-separator: #F0F1F2;
$color-border-separator-alt: #DADEE2;
$color-border-separator-inverse: #2A4158;
$color-border-separator-inverse-alt: #34495E;
$border-width-thin: 1px;
$border-width-thick: 2px;
$spacing-x-large: 28px;
$spacing-large: 18px;
$spacing-medium: 14px;
$spacing-small: 8px;
$spacing-x-small: 7px;
$spacing-xx-small: 2px;
$line-height-heading: 1.25;
$line-height-text: 1.5;
